In [92]:
import os
import pandas as pd

In [93]:
DATASET_PATH = "dataset"

In [94]:
df = pd.read_csv(os.path.join(DATASET_PATH, "7k dataset.txt"))
df

,TENURE,AGE,GENDER,NATIONALITY,STATE,STATUS_BEFORE,STATUS_AFTER,OFFER_TAKER,OFFER_TAKE_UP_DT,DATA_PURC_BEFORE,...,RLD_IND_BEFORE,RLD_IND_AFTER,RLD_AMT_BEFORE,RLD_AMT_AFTER,CPA_RVN_BEFORE,CPA_RVN_AFTER,ARPU_BEFORE,ARPU_AFTER,ACTVIITY_DAYS_AFTER,ACTIVITY_STATUS_AFTER
0,133,33,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,Y,Y,30.00,30.00,?,?,26.000000,17.000000,2,DURING & AFTER CAMP
1,37,41,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,N,N,?,?,?,?,?,?,37,NO ACTIVITY SINCE SEP
2,44,21,Male,Malaysia,SARAWAK,Active,Active,N,?,N,...,N,N,?,?,?,?,?,?,38,NO ACTIVITY SINCE SEP
3,176,69,Female,Malaysia,PENANG,Active,Active,N,?,N,...,N,N,?,?,?,?,?,?,37,NO ACTIVITY SINCE SEP
4,171,79,Male,Malaysia,JOHORE,Active,Active,Y,10/6/2022,N,...,N,N,?,?,?,?,?,?,5,DURING & AFTER CAMP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7267,28,27,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,N,N,?,?,?,?,?,?,0,DURING & AFTER CAMP
7268,48,25,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/8/2022,Y,...,Y,N,5.00,?,0.15,?,8.730000,3.120000,0,DURING & AFTER CAMP
7269,71,65,Male,Malaysia,PAHANG,Active,Active,Y,10/6/2022,Y,...,N,Y,?,40.00,?,?,29.980000,40.000000,0,DURING & AFTER CAMP
7270,30,33,Male,Malaysia,JOHORE,Active,Active,N,?,N,...,Y,N,20.00,?,?,?,17.000000,?,36,NO ACTIVITY SINCE SEP
7271,16,36,Female,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,N,N,?,?,?,?,?,?,0,DURING & AFTER CAMP

In [95]:
df.columns

Index(['TENURE', 'AGE', 'GENDER', 'NATIONALITY', 'STATE', 'STATUS_BEFORE',
       'STATUS_AFTER', 'OFFER_TAKER', 'OFFER_TAKE_UP_DT', 'DATA_PURC_BEFORE',
       'DATA_PURC_AFTER', 'DATA_CHRG_BEFORE', 'DATA_CHRG_AFTER',
       'DATA_USG_BEFORE', 'DATA_USG_AFTER', 'VOICE_USG_BEFORE',
       'VOICE_USG_AFTER', 'RLD_IND_BEFORE', 'RLD_IND_AFTER', 'RLD_AMT_BEFORE',
       'RLD_AMT_AFTER', 'CPA_RVN_BEFORE', 'CPA_RVN_AFTER', 'ARPU_BEFORE',
       'ARPU_AFTER', 'ACTVIITY_DAYS_AFTER', 'ACTIVITY_STATUS_AFTER'],
      dtype='object')

## Requirements for midterms
1. Dataset has enough attributes for star schema drill down and roll up.
2. Random values generated for newly added attributes.
3. Resulting dataset is 10% of the original dataset, sampled randomly.

### Existing attributes
| Variable | Description |
| --- | --- | 
| ID | Customer ID
| TENURE | Customer duration with Kation since registration date 
| AGE | Customer age 
| GENDER | Customer gender 
| NATIONALITY | Customer nationality 
| STATE | Customer hometown (state) 
| STATUS_BEFORE | Customer status before campaign launched. 
| STATUS_AFTER | Customer status after campaign ended. 
| OFFER_TAKER | Indicator for customers who opted-in the migration plan. 
| OFFER_TAKE_UP_DT | Date for customers who opted-in the migration plan. 
| DATA_PURC_BEFORE | Indicator for customer who purchased data before campaign launched. 
| DATA_PURC_AFTER | Indicator for customer who purchased data after campaign ended. 
| DATA_CHRG_BEFORE | Total amount of data charged before campaign launched. 
| DATA_CHRG_AFTER | Total amount of data charged after campaign ended. 
| DATA_USG_BEFORE | Data usage before campaign launched. 
| DATA_USG_AFTER | Data usage after campaign ended. 
| VOICE_USG_BEFORE | Voice usage before campaign launched. 
| VOICE_USG_AFTER | Voice usage after campaign ended. 
| RLD_IND_BEFORE | Indicator for customer who reload before campaign launched. 
| RLD_IND_AFTER | Indicator for customer who reload after campaign ended. 
| RLD_AMT_BEFORE | Total of reload amount before campaign launched. 
| RLD_AMT_AFTER | Total of reload amount after campaign ended. 
| ARPU_BEFORE | ARPU before campaign launched. 
| CPA_RVN_BEFORE | Total added value service before campaign launched. 
| CPA_RVN_AFTER | Total added value service after campaign ended. 
| ARPU_AFTER | ARPU after campaign ended. 
| ACTIVITY_DAYS_AFTER | Silent days after campaign ended. 
| ACTIVITY_STATUS_AFTER | Customer activity status after campaign ended. 

### Proposed new attributes
| Variable | Description |
| --- | --- | 
| PLAN_ID | Telco plan ID
| PLAN_TYPE | Type of telco plan
| VAS_ID | Value added service ID
| VAS_TYPE | Type of value added service
| DATE_ID | Original date
| YEAR | Year
| QUARTER | Quarter
| Month | Month
| DAY | Day

### Values for new attributes
Telco Plans
| PLAN_ID | PLAN_TYPE |
| --- | --- | 
| 1 | Saver
| 2 | Premium

Value added services
| VAS_ID | VAS_TYPE |
| --- | --- | 
| 1 | Caller_tune
| 2 | Roaming

![Star schema](media/star_schema.jpg)

## Create new attributes

New attributes:
- `PLAN_ID`, `PLAN_TYPE`
- `VAS_ID`, `VAS_TYPE`
- `DATE_ID`, `YEAR`, `QUARTER`, `MONTH`, `DAY`

New attributes `PLAN_ID` and `PLAN_TYPE` will be created and their values are created randomly.

In [96]:
customer_id = [i for i in range(len(df))]

df["ID"] = customer_id
df

,TENURE,AGE,GENDER,NATIONALITY,STATE,STATUS_BEFORE,STATUS_AFTER,OFFER_TAKER,OFFER_TAKE_UP_DT,DATA_PURC_BEFORE,...,RLD_IND_AFTER,RLD_AMT_BEFORE,RLD_AMT_AFTER,CPA_RVN_BEFORE,CPA_RVN_AFTER,ARPU_BEFORE,ARPU_AFTER,ACTVIITY_DAYS_AFTER,ACTIVITY_STATUS_AFTER,ID
0,133,33,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,Y,30.00,30.00,?,?,26.000000,17.000000,2,DURING & AFTER CAMP,0
1,37,41,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,N,?,?,?,?,?,?,37,NO ACTIVITY SINCE SEP,1
2,44,21,Male,Malaysia,SARAWAK,Active,Active,N,?,N,...,N,?,?,?,?,?,?,38,NO ACTIVITY SINCE SEP,2
3,176,69,Female,Malaysia,PENANG,Active,Active,N,?,N,...,N,?,?,?,?,?,?,37,NO ACTIVITY SINCE SEP,3
4,171,79,Male,Malaysia,JOHORE,Active,Active,Y,10/6/2022,N,...,N,?,?,?,?,?,?,5,DURING & AFTER CAMP,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7267,28,27,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,N,?,?,?,?,?,?,0,DURING & AFTER CAMP,7267
7268,48,25,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/8/2022,Y,...,N,5.00,?,0.15,?,8.730000,3.120000,0,DURING & AFTER CAMP,7268
7269,71,65,Male,Malaysia,PAHANG,Active,Active,Y,10/6/2022,Y,...,Y,?,40.00,?,?,29.980000,40.000000,0,DURING & AFTER CAMP,7269
7270,30,33,Male,Malaysia,JOHORE,Active,Active,N,?,N,...,N,20.00,?,?,?,17.000000,?,36,NO ACTIVITY SINCE SEP,7270
7271,16,36,Female,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,N,?,?,?,?,?,?,0,DURING & AFTER CAMP,7271

In [97]:
import random

plan_id = range(1, 2 + 1)
plan_ids = random.choices(plan_id, k=len(df))
len(plan_ids)

7272

In [98]:
df["PLAN_ID"] = plan_ids
df

,TENURE,AGE,GENDER,NATIONALITY,STATE,STATUS_BEFORE,STATUS_AFTER,OFFER_TAKER,OFFER_TAKE_UP_DT,DATA_PURC_BEFORE,...,RLD_AMT_BEFORE,RLD_AMT_AFTER,CPA_RVN_BEFORE,CPA_RVN_AFTER,ARPU_BEFORE,ARPU_AFTER,ACTVIITY_DAYS_AFTER,ACTIVITY_STATUS_AFTER,ID,PLAN_ID
0,133,33,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,30.00,30.00,?,?,26.000000,17.000000,2,DURING & AFTER CAMP,0,2
1,37,41,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,?,?,?,?,?,?,37,NO ACTIVITY SINCE SEP,1,2
2,44,21,Male,Malaysia,SARAWAK,Active,Active,N,?,N,...,?,?,?,?,?,?,38,NO ACTIVITY SINCE SEP,2,2
3,176,69,Female,Malaysia,PENANG,Active,Active,N,?,N,...,?,?,?,?,?,?,37,NO ACTIVITY SINCE SEP,3,1
4,171,79,Male,Malaysia,JOHORE,Active,Active,Y,10/6/2022,N,...,?,?,?,?,?,?,5,DURING & AFTER CAMP,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7267,28,27,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,?,?,?,?,?,?,0,DURING & AFTER CAMP,7267,2
7268,48,25,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/8/2022,Y,...,5.00,?,0.15,?,8.730000,3.120000,0,DURING & AFTER CAMP,7268,2
7269,71,65,Male,Malaysia,PAHANG,Active,Active,Y,10/6/2022,Y,...,?,40.00,?,?,29.980000,40.000000,0,DURING & AFTER CAMP,7269,1
7270,30,33,Male,Malaysia,JOHORE,Active,Active,N,?,N,...,20.00,?,?,?,17.000000,?,36,NO ACTIVITY SINCE SEP,7270,1
7271,16,36,Female,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,?,?,?,?,?,?,0,DURING & AFTER CAMP,7271,1

In [99]:
plans = {1: "Saver", 2: "Premium"}

df["PLAN_TYPE"] = df["PLAN_ID"].apply(lambda x: plans.get(x))
df

,TENURE,AGE,GENDER,NATIONALITY,STATE,STATUS_BEFORE,STATUS_AFTER,OFFER_TAKER,OFFER_TAKE_UP_DT,DATA_PURC_BEFORE,...,RLD_AMT_AFTER,CPA_RVN_BEFORE,CPA_RVN_AFTER,ARPU_BEFORE,ARPU_AFTER,ACTVIITY_DAYS_AFTER,ACTIVITY_STATUS_AFTER,ID,PLAN_ID,PLAN_TYPE
0,133,33,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,30.00,?,?,26.000000,17.000000,2,DURING & AFTER CAMP,0,2,Premium
1,37,41,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,?,?,?,?,?,37,NO ACTIVITY SINCE SEP,1,2,Premium
2,44,21,Male,Malaysia,SARAWAK,Active,Active,N,?,N,...,?,?,?,?,?,38,NO ACTIVITY SINCE SEP,2,2,Premium
3,176,69,Female,Malaysia,PENANG,Active,Active,N,?,N,...,?,?,?,?,?,37,NO ACTIVITY SINCE SEP,3,1,Saver
4,171,79,Male,Malaysia,JOHORE,Active,Active,Y,10/6/2022,N,...,?,?,?,?,?,5,DURING & AFTER CAMP,4,2,Premium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7267,28,27,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,?,?,?,?,?,0,DURING & AFTER CAMP,7267,2,Premium
7268,48,25,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/8/2022,Y,...,?,0.15,?,8.730000,3.120000,0,DURING & AFTER CAMP,7268,2,Premium
7269,71,65,Male,Malaysia,PAHANG,Active,Active,Y,10/6/2022,Y,...,40.00,?,?,29.980000,40.000000,0,DURING & AFTER CAMP,7269,1,Saver
7270,30,33,Male,Malaysia,JOHORE,Active,Active,N,?,N,...,?,?,?,17.000000,?,36,NO ACTIVITY SINCE SEP,7270,1,Saver
7271,16,36,Female,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,?,?,?,?,?,0,DURING & AFTER CAMP,7271,1,Saver

New attributes `VAS_ID` and `VAS_TYPE` will be created and their values are created randomly.

In [100]:
vas_id = range(1, 2 + 1)
vas_ids = random.choices(vas_id, k=len(df))

df["VAS_ID"] = vas_ids
df

,TENURE,AGE,GENDER,NATIONALITY,STATE,STATUS_BEFORE,STATUS_AFTER,OFFER_TAKER,OFFER_TAKE_UP_DT,DATA_PURC_BEFORE,...,CPA_RVN_BEFORE,CPA_RVN_AFTER,ARPU_BEFORE,ARPU_AFTER,ACTVIITY_DAYS_AFTER,ACTIVITY_STATUS_AFTER,ID,PLAN_ID,PLAN_TYPE,VAS_ID
0,133,33,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,?,?,26.000000,17.000000,2,DURING & AFTER CAMP,0,2,Premium,2
1,37,41,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,?,?,?,?,37,NO ACTIVITY SINCE SEP,1,2,Premium,2
2,44,21,Male,Malaysia,SARAWAK,Active,Active,N,?,N,...,?,?,?,?,38,NO ACTIVITY SINCE SEP,2,2,Premium,1
3,176,69,Female,Malaysia,PENANG,Active,Active,N,?,N,...,?,?,?,?,37,NO ACTIVITY SINCE SEP,3,1,Saver,2
4,171,79,Male,Malaysia,JOHORE,Active,Active,Y,10/6/2022,N,...,?,?,?,?,5,DURING & AFTER CAMP,4,2,Premium,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7267,28,27,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,?,?,?,?,0,DURING & AFTER CAMP,7267,2,Premium,1
7268,48,25,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/8/2022,Y,...,0.15,?,8.730000,3.120000,0,DURING & AFTER CAMP,7268,2,Premium,2
7269,71,65,Male,Malaysia,PAHANG,Active,Active,Y,10/6/2022,Y,...,?,?,29.980000,40.000000,0,DURING & AFTER CAMP,7269,1,Saver,2
7270,30,33,Male,Malaysia,JOHORE,Active,Active,N,?,N,...,?,?,17.000000,?,36,NO ACTIVITY SINCE SEP,7270,1,Saver,1
7271,16,36,Female,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,?,?,?,?,0,DURING & AFTER CAMP,7271,1,Saver,1

In [101]:
vas = {1: "Caller_tune", 2: "Roaming"}

df["VAS_TYPE"] = df["VAS_ID"].apply(lambda x: vas.get(x))
df

,TENURE,AGE,GENDER,NATIONALITY,STATE,STATUS_BEFORE,STATUS_AFTER,OFFER_TAKER,OFFER_TAKE_UP_DT,DATA_PURC_BEFORE,...,CPA_RVN_AFTER,ARPU_BEFORE,ARPU_AFTER,ACTVIITY_DAYS_AFTER,ACTIVITY_STATUS_AFTER,ID,PLAN_ID,PLAN_TYPE,VAS_ID,VAS_TYPE
0,133,33,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,?,26.000000,17.000000,2,DURING & AFTER CAMP,0,2,Premium,2,Roaming
1,37,41,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,?,?,?,37,NO ACTIVITY SINCE SEP,1,2,Premium,2,Roaming
2,44,21,Male,Malaysia,SARAWAK,Active,Active,N,?,N,...,?,?,?,38,NO ACTIVITY SINCE SEP,2,2,Premium,1,Caller_tune
3,176,69,Female,Malaysia,PENANG,Active,Active,N,?,N,...,?,?,?,37,NO ACTIVITY SINCE SEP,3,1,Saver,2,Roaming
4,171,79,Male,Malaysia,JOHORE,Active,Active,Y,10/6/2022,N,...,?,?,?,5,DURING & AFTER CAMP,4,2,Premium,2,Roaming
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7267,28,27,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,?,?,?,0,DURING & AFTER CAMP,7267,2,Premium,1,Caller_tune
7268,48,25,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/8/2022,Y,...,?,8.730000,3.120000,0,DURING & AFTER CAMP,7268,2,Premium,2,Roaming
7269,71,65,Male,Malaysia,PAHANG,Active,Active,Y,10/6/2022,Y,...,?,29.980000,40.000000,0,DURING & AFTER CAMP,7269,1,Saver,2,Roaming
7270,30,33,Male,Malaysia,JOHORE,Active,Active,N,?,N,...,?,17.000000,?,36,NO ACTIVITY SINCE SEP,7270,1,Saver,1,Caller_tune
7271,16,36,Female,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,?,?,?,0,DURING & AFTER CAMP,7271,1,Saver,1,Caller_tune

In [102]:
df = df[:round(len(df) * 0.1)]
len(df)

727

New attributes `DATE_ID` will be created from `OFFER_TAKE_UP_DT`, while `YEAR`, `QUARTER`, `MONTH` and `DAY` will be created and their values are created randomly.

In [103]:
df = df[df["OFFER_TAKE_UP_DT"] != "?"]
df = df.reset_index(drop=True)
df

,TENURE,AGE,GENDER,NATIONALITY,STATE,STATUS_BEFORE,STATUS_AFTER,OFFER_TAKER,OFFER_TAKE_UP_DT,DATA_PURC_BEFORE,...,CPA_RVN_AFTER,ARPU_BEFORE,ARPU_AFTER,ACTVIITY_DAYS_AFTER,ACTIVITY_STATUS_AFTER,ID,PLAN_ID,PLAN_TYPE,VAS_ID,VAS_TYPE
0,133,33,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,?,26.000000,17.000000,2,DURING & AFTER CAMP,0,2,Premium,2,Roaming
1,37,41,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,?,?,?,37,NO ACTIVITY SINCE SEP,1,2,Premium,2,Roaming
2,171,79,Male,Malaysia,JOHORE,Active,Active,Y,10/6/2022,N,...,?,?,?,5,DURING & AFTER CAMP,4,2,Premium,2,Roaming
3,38,41,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,?,11.020000,4.200000,0,DURING & AFTER CAMP,8,2,Premium,1,Caller_tune
4,37,63,Male,Malaysia,PERAK,Active,Active,Y,10/6/2022,Y,...,?,27.990000,1.800000,1,DURING & AFTER CAMP,11,1,Saver,1,Caller_tune
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,65,35,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,?,39.310000,35.000000,0,BEFORE & AFTER CAMP,722,1,Saver,2,Roaming
447,149,29,Female,Malaysia,KLANG VALLEY,Active,Active,Y,10/5/2022,Y,...,?,?,?,33,NO ACTIVITY SINCE SEP,723,1,Saver,1,Caller_tune
448,126,39,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,?,?,10.000000,34,NO ACTIVITY SINCE SEP,724,1,Saver,1,Caller_tune
449,62,23,Male,Malaysia,TERENGGANU,Active,Active,Y,10/5/2022,Y,...,?,1.450000,0.200000,0,DURING & AFTER CAMP,725,2,Premium,2,Roaming
450,29,61,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,?,3.240000,?,36,NO ACTIVITY SINCE SEP,726,2,Premium,1,Caller_tune

In [104]:
df["YEAR"] = df["OFFER_TAKE_UP_DT"].apply(lambda x: x.split("/")[2])
df["MONTH"] = df["OFFER_TAKE_UP_DT"].apply(lambda x: x.split("/")[0])
df["DAY"] = df["OFFER_TAKE_UP_DT"].apply(lambda x: x.split("/")[1])
df

,TENURE,AGE,GENDER,NATIONALITY,STATE,STATUS_BEFORE,STATUS_AFTER,OFFER_TAKER,OFFER_TAKE_UP_DT,DATA_PURC_BEFORE,...,ACTVIITY_DAYS_AFTER,ACTIVITY_STATUS_AFTER,ID,PLAN_ID,PLAN_TYPE,VAS_ID,VAS_TYPE,YEAR,MONTH,DAY
0,133,33,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,2,DURING & AFTER CAMP,0,2,Premium,2,Roaming,2022,10,6
1,37,41,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,37,NO ACTIVITY SINCE SEP,1,2,Premium,2,Roaming,2022,10,6
2,171,79,Male,Malaysia,JOHORE,Active,Active,Y,10/6/2022,N,...,5,DURING & AFTER CAMP,4,2,Premium,2,Roaming,2022,10,6
3,38,41,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,0,DURING & AFTER CAMP,8,2,Premium,1,Caller_tune,2022,10,6
4,37,63,Male,Malaysia,PERAK,Active,Active,Y,10/6/2022,Y,...,1,DURING & AFTER CAMP,11,1,Saver,1,Caller_tune,2022,10,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,65,35,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,0,BEFORE & AFTER CAMP,722,1,Saver,2,Roaming,2022,10,6
447,149,29,Female,Malaysia,KLANG VALLEY,Active,Active,Y,10/5/2022,Y,...,33,NO ACTIVITY SINCE SEP,723,1,Saver,1,Caller_tune,2022,10,5
448,126,39,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,34,NO ACTIVITY SINCE SEP,724,1,Saver,1,Caller_tune,2022,10,6
449,62,23,Male,Malaysia,TERENGGANU,Active,Active,Y,10/5/2022,Y,...,0,DURING & AFTER CAMP,725,2,Premium,2,Roaming,2022,10,5
450,29,61,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,36,NO ACTIVITY SINCE SEP,726,2,Premium,1,Caller_tune,2022,10,6

In [105]:
df["QUARTER"] = df["MONTH"].apply(lambda x: (int(x)-1)//3 + 1)
df

,TENURE,AGE,GENDER,NATIONALITY,STATE,STATUS_BEFORE,STATUS_AFTER,OFFER_TAKER,OFFER_TAKE_UP_DT,DATA_PURC_BEFORE,...,ACTIVITY_STATUS_AFTER,ID,PLAN_ID,PLAN_TYPE,VAS_ID,VAS_TYPE,YEAR,MONTH,DAY,QUARTER
0,133,33,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,DURING & AFTER CAMP,0,2,Premium,2,Roaming,2022,10,6,4
1,37,41,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,NO ACTIVITY SINCE SEP,1,2,Premium,2,Roaming,2022,10,6,4
2,171,79,Male,Malaysia,JOHORE,Active,Active,Y,10/6/2022,N,...,DURING & AFTER CAMP,4,2,Premium,2,Roaming,2022,10,6,4
3,38,41,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,DURING & AFTER CAMP,8,2,Premium,1,Caller_tune,2022,10,6,4
4,37,63,Male,Malaysia,PERAK,Active,Active,Y,10/6/2022,Y,...,DURING & AFTER CAMP,11,1,Saver,1,Caller_tune,2022,10,6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,65,35,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,BEFORE & AFTER CAMP,722,1,Saver,2,Roaming,2022,10,6,4
447,149,29,Female,Malaysia,KLANG VALLEY,Active,Active,Y,10/5/2022,Y,...,NO ACTIVITY SINCE SEP,723,1,Saver,1,Caller_tune,2022,10,5,4
448,126,39,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,NO ACTIVITY SINCE SEP,724,1,Saver,1,Caller_tune,2022,10,6,4
449,62,23,Male,Malaysia,TERENGGANU,Active,Active,Y,10/5/2022,Y,...,DURING & AFTER CAMP,725,2,Premium,2,Roaming,2022,10,5,4
450,29,61,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,NO ACTIVITY SINCE SEP,726,2,Premium,1,Caller_tune,2022,10,6,4

In [106]:
df = df.rename(columns={"OFFER_TAKE_UP_DT": "DATE_ID"})

### Incorrect data

In [107]:
age_index = random.sample(range(len(df)), round(len(df) * .025))
len(age_index)

11

In [108]:
for i in age_index:
    df.loc[i, "AGE"] = 0

df

,TENURE,AGE,GENDER,NATIONALITY,STATE,STATUS_BEFORE,STATUS_AFTER,OFFER_TAKER,DATE_ID,DATA_PURC_BEFORE,...,ACTIVITY_STATUS_AFTER,ID,PLAN_ID,PLAN_TYPE,VAS_ID,VAS_TYPE,YEAR,MONTH,DAY,QUARTER
0,133,33,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,DURING & AFTER CAMP,0,2,Premium,2,Roaming,2022,10,6,4
1,37,41,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,NO ACTIVITY SINCE SEP,1,2,Premium,2,Roaming,2022,10,6,4
2,171,79,Male,Malaysia,JOHORE,Active,Active,Y,10/6/2022,N,...,DURING & AFTER CAMP,4,2,Premium,2,Roaming,2022,10,6,4
3,38,41,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,DURING & AFTER CAMP,8,2,Premium,1,Caller_tune,2022,10,6,4
4,37,63,Male,Malaysia,PERAK,Active,Active,Y,10/6/2022,Y,...,DURING & AFTER CAMP,11,1,Saver,1,Caller_tune,2022,10,6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,65,35,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,BEFORE & AFTER CAMP,722,1,Saver,2,Roaming,2022,10,6,4
447,149,29,Female,Malaysia,KLANG VALLEY,Active,Active,Y,10/5/2022,Y,...,NO ACTIVITY SINCE SEP,723,1,Saver,1,Caller_tune,2022,10,5,4
448,126,39,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,NO ACTIVITY SINCE SEP,724,1,Saver,1,Caller_tune,2022,10,6,4
449,62,23,Male,Malaysia,TERENGGANU,Active,Active,Y,10/5/2022,Y,...,DURING & AFTER CAMP,725,2,Premium,2,Roaming,2022,10,5,4
450,29,61,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,NO ACTIVITY SINCE SEP,726,2,Premium,1,Caller_tune,2022,10,6,4

In [109]:
df["AGE"].value_counts()

29    25
24    24
26    23
23    22
22    20
      ..
21     1
49     1
79     1
85     1
78     1
Name: AGE, Length: 61, dtype: int64

In [110]:
tenure_index = random.sample(range(len(df)), round(len(df) * .025))
len(tenure_index)

11

In [111]:
for i in tenure_index:
    df.loc[i, "TENURE"] = 520

df

,TENURE,AGE,GENDER,NATIONALITY,STATE,STATUS_BEFORE,STATUS_AFTER,OFFER_TAKER,DATE_ID,DATA_PURC_BEFORE,...,ACTIVITY_STATUS_AFTER,ID,PLAN_ID,PLAN_TYPE,VAS_ID,VAS_TYPE,YEAR,MONTH,DAY,QUARTER
0,133,33,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,DURING & AFTER CAMP,0,2,Premium,2,Roaming,2022,10,6,4
1,37,41,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,NO ACTIVITY SINCE SEP,1,2,Premium,2,Roaming,2022,10,6,4
2,171,79,Male,Malaysia,JOHORE,Active,Active,Y,10/6/2022,N,...,DURING & AFTER CAMP,4,2,Premium,2,Roaming,2022,10,6,4
3,38,41,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,DURING & AFTER CAMP,8,2,Premium,1,Caller_tune,2022,10,6,4
4,37,63,Male,Malaysia,PERAK,Active,Active,Y,10/6/2022,Y,...,DURING & AFTER CAMP,11,1,Saver,1,Caller_tune,2022,10,6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,65,35,Male,Malaysia,KLANG VALLEY,Active,Active,Y,10/6/2022,Y,...,BEFORE & AFTER CAMP,722,1,Saver,2,Roaming,2022,10,6,4
447,149,29,Female,Malaysia,KLANG VALLEY,Active,Active,Y,10/5/2022,Y,...,NO ACTIVITY SINCE SEP,723,1,Saver,1,Caller_tune,2022,10,5,4
448,126,39,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,NO ACTIVITY SINCE SEP,724,1,Saver,1,Caller_tune,2022,10,6,4
449,62,23,Male,Malaysia,TERENGGANU,Active,Active,Y,10/5/2022,Y,...,DURING & AFTER CAMP,725,2,Premium,2,Roaming,2022,10,5,4
450,29,61,Male,Malaysia,SARAWAK,Active,Active,Y,10/6/2022,Y,...,NO ACTIVITY SINCE SEP,726,2,Premium,1,Caller_tune,2022,10,6,4

In [112]:
df.to_csv("midterm_dataset.csv", index=False)